.perspective-container {
    perspective: 2000px;
}

.transform-style-3d {
    transform-style: preserve-3d;
}

.animate-float-slow {
    animation: float 6s ease-in-out infinite;
}

.animate-float-delayed {
    animation: float 6s ease-in-out infinite 3s;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0) rotate(-6deg);
    }

    50% {
        transform: translateY(-20px) rotate(-6deg);
    }
}

/* Delayed rotation override for 2nd image */
.animate-float-delayed {
    animation: float2 6s ease-in-out infinite 3s;
}

@keyframes float2 {

    0%,
    100% {
        transform: translateY(0) rotate(12deg);
    }

    50% {
        transform: translateY(-20px) rotate(12deg);
    }
}

.animate-zoom-in {
    animation: zoomIn 2.5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    will-change: transform, opacity;
}

@keyframes zoomIn {
    0% {
        transform: translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateZ(1500px) scale(4);
        /* Moves physically closer in 3D space */
        opacity: 0;
    }
}

.animate-fade-in-up {
    animation: fadeInUp 1.2s ease-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}